body {
    margin: 0 auto;
    width: 773px;
    font-family: Arial;
    color: #212121;
}

nav {
    background: #c8eefd;
    padding: 2px 2px 0px 5px;
    border-bottom: 7px solid #a0e2fb;
    margin-bottom: 15px;
}

nav h2 {
    color: #0498fb;
    text-shadow: 1px 1px 2px #fdfdfd;
    font-family: cursive;
    margin-left: 12px;
}

nav div.add-btn {
    float: right;
    margin-top: -44px;
    margin-right: 15px;
}

#toys-grid {
    margin-bottom: 30px;
}

#toys-grid .txt-heading {
    background-color: #D3F5B8;
}

#toys-grid table {
    width: 100%;
    background-color: #F0F0F0;
}

#toys-grid table td {
    background-color: #FFFFFF;
}

.search-box {
    border: 1px solid #F0F0F0;
    background-color: #C8EEFD;
    margin: 2px 0px;
}

.search-box p {
    clear: both;  
    text-align: center;  
}

.demoInputBox {
    padding: 10px;
    border: #27c2fd 1px solid;
    border-radius: 9px;
    margin: 0px 5px;
    font-size: large;
}

.btnSearch {
    padding: 7px;
    border: #29c2fc 1px solid;
    border-radius: 5px;
    margin: 0px 5px;
    background: #f0f0f1;
    font-size: 18px;
}

.perpage-link {
    padding: 5px 10px;
    border: #C8EEFD 2px solid;
    border-radius: 4px;
    margin: 0px 5px;
    background: #FFF;
    cursor: pointer;
}

.current-page {
    padding: 5px 10px;
    border: #C8EEFD 2px solid;
    border-radius: 4px;
    margin: 0px 5px;
    background: #C8EEFD;
}

.btnEditAction {
    background-color: #32b134cf;
    padding: 2px 8px;
    color: #FFF;
    text-decoration: none;
    border-radius: 8px;
    font-size: 13px;
}

.btnDeleteAction {
    background-color: #ef5050e5;
    padding: 2px 8px;
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    border-radius: 8px;
}

#btnAddAction {
    background-color: #09F;
    border: 0;
    padding: 4px 10px;
    color: #FFF;
    text-decoration: none;
    border-radius: 14px;
    font-size: 17px;
}

#frmToy {
    width: 90%;
    margin: 70px auto;
    border: 2px solid #2ac2fc;
    background: aliceblue;
    padding-top: 15px;
}

#frmToy div {
    margin-bottom: 15px
}

#frmToy div label {
    margin-left: 5px
}

.error {
    background-color: #FF6600;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px;
}

.info {
    font-size: .8em;
    color: #FF6600;
    letter-spacing: 2px;
    padding-left: 5px;
}

.item-add-form, .item-edit-form {
    border: 2px solid #d0d6da;
    text-align: center;
    margin-top: 60px;
    border-radius: 5px;
}

#item-add-btn {
    background-color: #7fb370;
    border: 0;
    padding: 4px 10px;
    color: #FFF;
    text-decoration: none;
    border-radius: 14px;
    font-size: 17px;
}

.inputAddItem, .editItemInput {
    width: 75%;
    font-size: large;
    padding: 6px;
    border: 1px solid #29c2fc;
    border-radius: 4px;
}